body {
  background-color: #f2f4f7;
  font-family: 'Comic Sans MS', sans-serif; 
}

.app {
  max-width: 800px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.1);
  padding: 20px;
}

h1 {
  font-size: 24px;
  text-align: center;
  color: #444;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: 1px 1px 1px #ccc;
}

button {
  background-color: #e892f0;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

button:hover {
  background-color: #e26dec;
}

p {
  font-size: 18px;
  line-height: 1.5; 
}

li {
  margin-bottom: 10px;
  list-style: none;
  padding-left: 0;
}

li::before {
  content: "\1F63A";
  margin-right: 6px;
}